@font-face {
    font-family: "FuturaPTDemi";
    src: url("../fonts/FuturaPTDemi.otf");
}

@font-face {
    font-family: "FuturaPTHeavy";
    src: url("../fonts/FuturaPTHeavy.otf");
}

@font-face {
    font-family: "HelveticaNeue-Bold";
    src: url("../fonts/HelveticaNeue-Bold.ttf");
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("../fonts/HelveticaNeue.ttf");
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.page-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

#header {
    position: relative;
    width: 100%;
    height: 100px;
    border-bottom: 2px solid black;
    background: white;
    font-family: "HelveticaNeue", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.header__menu__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
}

#menu .header__menu__items li {
    display: inline-block;
    font-size: 16pt;
}

#menu .header__menu__items li a:after {
    display: block;
    content: "";
    height: 2px;
    width: 0;
    background-color: red;
    transition: width .3s ease-in-out;
}

#menu .header__menu__items li a:hover:after,
#menu .header__menu__items li a:focus:after {
    width: 100%;
}

#menu .header__menu__items li a {
    text-decoration: none;
    color: black;
}

.contacts__items {
    list-style: none;
    margin-right: 20px;
}

.contacts__items li:last-child {
    margin-top: 10px;
}

.contacts__items a {
    text-decoration: none;
    color: black;
    font-size: 14pt;
    font-weight: bold;
}

.contacts__items li a:after {
    display: block;
    content: "";
    height: 2px;
    width: 0;
    background-color: red;
    transition: width .3s ease-in-out;
}

.contacts__items li a:hover:after,
.contacts__items li a:focus:after {
    width: 100%;
}

#sign-up, #cart {
    margin-right: 20px;
}

#sign-up a, #cart a {
    color: black;
    font-size: 14pt;
}

#white-logo img {
    width: 200px;
    height: 70px;
    margin: 10px 0 15px 15px;
}

#menu-toggle {
    display: none;
}

#logo img {
    width: 200px;
    height: 70px;
    margin: 10px 0 15px 15px;
}

.product {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 400px;
    width: 200px;
    border: 1px solid black;
}

.product__img {
    overflow: hidden;
    border: 1px solid black;
    border-top: none;
    height: 341px;
    width: 240px;
}

.product__img img {
    transition: all 1s ease-out;
    cursor: pointer;
    filter: grayscale(1);
}

.product__img img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}

.product__description {
    text-align: center;
    width: 180px;
    font-family: 'HelveticaNeue', sans-serif;
}

.product__description__text {
    word-break: break-all;
    text-align: left;
    margin: 0;

}

.product__description__title {
    margin: 0 auto;
}

.product__description__price {
    font-weight: bold;
    display: inline-block;
    text-decoration: underline;
    margin: 10px 0 0;
    cursor: pointer;
    box-sizing: content-box;
}

.product__description__price:hover {
    color: red;
    border-bottom: red;
}

.product__addBtn {
    background: none;
    cursor: pointer;
    border: 2px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12pt;
    font-weight: bold;
}

.product__addBtn:hover {
    border-color: red;
    color: red;
}

#footer {
    position: relative;
    width: 100%;
    height: 100px;
    background: red;
    font-family: "HelveticaNeue", sans-serif;
    display: flex;
    justify-content: space-around;
}

.footer__menu {
    font-size: 12pt;
    align-self: flex-start;
    width: 600px;
    height: 100px;
}

.footer__menu__categories {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    box-sizing: content-box;
}

.footer__menu__categories > li {
    display: inline-block;
    height: 100px;
    margin: 0 20px 0 20px;
}

.footer__menu__categories li {
    list-style: none;
}

.footer__menu__categories > li ul > li:first-child {
    font-weight: bolder;
    font-size: 13pt;
    color: white;
}

.footer__menu__categories a {
    color: white;
    text-decoration: none;
}

#copy {
    color: white;
    font-weight: bold;
    font-size: 12pt;
    margin-right: 20px;
}