@font-face {
    font-family: "HelveticaNeue";
    src: url("../fonts/HelveticaNeue.ttf");
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.page-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

#footer {
    position: relative;
    width: 100%;
    height: 100px;
    background: red;
    font-family: "HelveticaNeue", sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

#white-logo img {
    width: 200px;
    height: 70px;
    margin: 10px 0 15px 15px;
}

.footer__menu {
    font-size: 12pt;
    align-self: flex-start;
    width: 600px;
    height: 100px;
}

.footer__menu__categories {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    box-sizing: content-box;
}

.footer__menu__categories > li {
    display: inline-block;
    height: 100px;
    margin: 0 20px 0 20px;
}

.footer__menu__categories li {
    list-style: none;
}

.footer__menu__categories > li ul > li:first-child {
    font-weight: bolder;
    font-size: 13pt;
    color: white;
}

.footer__menu__categories a {
    color: white;
    text-decoration: none;
}

#copy {
    color: white;
    font-weight: bold;
    font-size: 12pt;
    margin-right: 20px;
}

